#join.bg-dark.text-white.py-1.mt-0.pl-3.pl-lg-5
  h1.header Join the unit
#about-img3.img.img-fluid.mb-4.trans-img
.about-text.px-3.px-lg-5
  .row.mt-4
    .col-12.mt-4
      h4 Schedule:
      p(style='margin: 0')
        | All of our operations begin at 
        strong 7:30PM
        |  and normally last until 
        strong 10:00PM
        |  (
        a#time.time-pop.text-inverse(href='#join' role='button') British Time
        | )
      p
        | Our operation days are the followings: 
        strong Tuesday
        | , 
        strong Thursday
        | , 
        strong Saturday
        |  and 
        strong Sunday
        | .
      #weekdays.d-flex.justify-content-between.bg-faded.mb-2
        each day in weekdays
          case day
            when "Saturday"
              div(style='background-color: rgba(169, 0, 0, 1); width:14.285%;')
                button.btn.w-100.text-white.py-1(type='button', style='background-color: rgba(0,0,0,0)' data-container='body',data-trigger="hover", data-toggle='popover', data-placement='bottom', title="MAIN OPERATION" data-content='Saturday is the day dedicated to the big scale combat, where the units gets to experience the best creations of the mission makers.')
                  | #{day}
            when "Tuesday"
              div(style='background-color: rgba(169, 0, 0, 0.9); width:14.285%;')
                button.btn.w-100.text-white.py-1(type='button', style='background-color: rgba(0,0,0,0)' data-container='body',data-trigger="hover", data-toggle='popover', data-placement='bottom', title="SIDE OPERATION" data-content='On this day we organize smaller scale operations, better tailored to our numbers and intended to fit the reduced members\' presence during the week.')
                  | #{day}
            when "Thursday"
              div(style='background-color: rgba(169, 0, 0, 0.9); width:14.285%;')
                button.btn.w-100.text-white.py-1(type='button', style='background-color: rgba(0,0,0,0)' data-container='body',data-trigger="hover", data-toggle='popover', data-placement='bottom', title="SIDE OPERATION" data-content='On this day we organize smaller scale operations, better tailored to our numbers and intended to fit the reduced members\' presence during the week.')
                  | #{day}
            when "Sunday"
              div(style='background-color: rgba(169, 0, 0, 0.75); width:14.285%;')
                button.btn.w-100.text-white.py-1(type='button', style='background-color: rgba(0,0,0,0)' data-container='body',data-trigger="hover", data-toggle='popover', data-placement='bottom', title="TRAINING DAY" data-content='On sundays the units get to train together. On this day new recruits are usually instructed with the BCT programm, while the rest of the unit get to train topics that are usually picked by the senior leaders.')
                  | #{day}
            default
              div.bg-light(style='width:14.28%;')
                button.btn.w-100.py-1(type='button', style='background-color: rgba(0,0,0,0)' data-container='body', data-trigger="hover", data-toggle='popover', data-placement='bottom', title="DAY OFF" data-content='On these days no events are planned and the members are left free to organize something by themselves or just enjoy a break from the unit activities.')
                  | #{day}

    hr.bg-dark.mx-5
  .row
    .col-sm-8
      h5.mt-2 Requirements:
      ol
        li.text-justify.mb-2.mt-3
          strong Age
          | : you must be at least 
          strong 16 years old
          | , anyone below that requires special acceptance into the unit;
        li.text-justify.mb-2
          strong Attendance
          | : should be able to attend at least 
          strong two operations per week
          |  in a normal situation;
        li.text-justify
          strong Exclusivity
          | : applicants must not be part of any other ArmA Units upon joining;
    .col-sm-4
      h4.py-2 Contacts:
      ul.contacts.text-center.text-sm-left
        li
          strong 2Lt. 
          a(href='http://steamcommunity.com/id/Hydefinition/', target='_blank') A. Hyde
        br
        //- li
        //-   strong Cpt. 
        //-   a(href='http://steamcommunity.com/id/76561198045879060/', target='blank') C. Foote
        //- br
        li
          strong Sgt. 
          a(href='http://steamcommunity.com/id/LordNigelOfFarage', target='_blank') N. Farage
.about-text.px-3.px-lg-5.my-3
  .row
    .col-md-8
      .d-flex.justify-content-center.mt-4
        a(href='https://goo.gl/forms/UBFiO23d5f9X7djM2', target='_blank')
          button#enrollnow.heartbeat.shiny-hover.btn.btn-lg.btn-outline-danger.light-header(type='submit') ENLIST NOW
      p.text-center.mt-3.mb-4
        small If successful, our recruiters team will contact you as soon as possible
      p.mt-5 While you wait for your results feel free to download our 
          a(href='http://steamcommunity.com/sharedfiles/filedetails/?id=851312465', target='_blank') mod collection
          |  or browse the rest of this website and learn more about the Commandos.
      h5.pr-md-5.my-3
        | Good luck with your application, we hope to see you on the battlefield soon!
    #useful.col-md-4.text-center.text-md-left
      h4.py-2.mb-4 Useful links:
      ul.pl-0
        li.media.mb-4
          a.d-flex(href='http://steamcommunity.com/groups/No4Commando', target='_blank')
            img.mr-3(src='img/social/steam-square.svg', alt='')
            .media-body
              h3.lead.hidden-sm-down.my-auto Steam Group
        li.media.mb-4
          a.d-flex(href='https://discord.gg/GxTEsRb', target='_blank')
            img.mr-3(src='img/social/discord.svg', alt='')
            .media-body
              h3.lead.hidden-sm-down.my-auto Discord Server
        li.media
          a.d-flex(href='ts3server://85.236.101.154/?port=11727&nickname=Web Guest')
            img.mr-3(src='img/social/ts3.png', alt='')
            .media-body
              h3.lead.hidden-sm-down.my-auto Join Teamspeak
#join-img1.img.img-fluid.trans-img
