#operations.bg-inverse.text-white.py-1.mt-0.pl-3.pl-lg-5
  h1.header Operations
#operations-cards
  .px-3.px-lg-5.mt-4.border-bottom-0
    h4 Schedule:
    p(style='margin: 0')
      | All of our operations begin at 
      strong 7:15PM
      |  and normally last until 
      strong 10:00PM
      |  (
      a#time.time-pop.text-inverse(href='#operations', role='button') British Time
      | )
    p
      | Our operation days are the followings: 
      strong Mondays
      | , 
      strong Wednesdays
      | , 
      strong Saturdays
      |  and 
      strong Sundays
      | .
  hr
  .px-3.px-lg-5.mt-4
    h5 Here you can see the current status of our activities:
    p (You can click on the images to learn more about the campaign)
    
  each op, index in ops
    if (index % 3 == 0)
      | <div class="card-group px-lg-5 px-3 mt-4">
    .card.col-md-4.px-0
      a(data-toggle='collapse', href=`#${op.id}`, aria-expanded='false')
        img.card-img-top.img-fluid.d-block(src=`${op.img}`, alt='Card image cap')
      .card-block
        h4.card-title=op.title
        .collapse(id=`${op.id}`)
          small.text-muted=op.date
          p.card-text.text-justify=op.description
      .card-footer
        case op.status
          when 0
            small.badge.badge-success COMPLETED
          when 1
            small.badge.badge-warning ONGOING
          when 2
            small.badge.badge-primary COMING UP
          when 3
            small.badge.badge-danger TO BE ANNOUNCED
    if (index % 3 == 2 || index == ops.length-1)
      | </div>
