#server.bg-dark.text-white.py-1.pl-3.pl-lg-5
  h1.header OUR SERVERS
#server-img.img.img-fluid.my-0.trans-img
#server-text.about-text.mb-5.pt-3.pb-0.px-3.px-lg-5
  br
  .container-fluid.px-0
    p.text-center Here below you can find all the information that you need to connect to our servers, click the buttons to learn more:
    p.d-flex.justify-content-around.mt-3
      button.btn.btn-outline-danger(type='button', data-toggle='collapse', data-target='#publicServer', aria-expanded='false', aria-controls='collapseExample')
        if public.status == 0
          .d-inline-block.mr-2(style='background-color: #5cb85c; width: 16px; height: 16px; border-radius: 50%; vertical-align: top')
        else 
          .d-inline-block.mr-2(style='background-color: #d9534f; width: 16px; height: 16px; border-radius: 50%; vertical-align: top')
        strong PUBLIC 
        | Gameserver
      button.btn.btn-outline-danger(type='button', data-toggle='collapse', data-target='#privateServer', aria-expanded='false', aria-controls='collapseExample')
        if private.status == 0
          .d-inline-block.mr-2(style='background-color: #5cb85c; width: 16px; height: 16px; border-radius: 50%; vertical-align: top')
        else 
          .d-inline-block.mr-2(style='background-color: #d9534f; width: 16px; height: 16px; border-radius: 50%; vertical-align: top')
        strong PRIVATE 
        | Gameserver
      button.btn.btn-outline-danger(type='button', data-toggle='collapse', data-target='#teamspeakServer', aria-expanded='false', aria-controls='collapseExample')
        if ts3.status == 0
          .d-inline-block.mr-2(style='background-color: #5cb85c; width: 16px; height: 16px; border-radius: 50%; vertical-align: top')
        else 
          .d-inline-block.mr-2(style='background-color: #d9534f; width: 16px; height: 16px; border-radius: 50%; vertical-align: top')
        strong TS3 
        | Voice Server
    .row.mt-3
      .col-4
        #publicServer.collapse
          .card.card-body
            h4 
              a(href='http://www.gametracker.com/server_info/195.140.215.20:2312/' target='_blank') Public Server
            span
              if public.name
                strong Name: 
                | #{public.name}
                br
              strong IP: 
              | 195.140.215.20
              br
              strong Port: 
              | 2312   
              br
              strong Mode: 
              | WW2 Rush PvP
              br
              strong Mods:
              ul.mb-0
                li 
                  a(href="https://steamcommunity.com/sharedfiles/filedetails/?id=891433622" target="_blank") Faces Of War
              strong Status: 
              case public.status
                when 0
                  span.badge.badge-pill.badge-success UP
                when 2
                  span.badge.badge-pill.badge-danger DOWN
              if public.name
                br
                strong Map: 
                | #{public.map}
                br
                strong Players: 
                | #{public.players.length}/#{public.maxplayers}
      .col-4
        #privateServer.collapse
          .card.card-body
            h4 Private Server
            span
              if private.name
                strong Name: 
                | #{private.name}
                br
              strong IP: 
              | 195.140.215.20
              br
              strong Port: 
              | 2302   
              br
              strong Mode: 
              | PvE COOP
              br
              strong Mods: 
              ul.mb-0
                li No.4 CDO Private Mod
                li 
                  a(href='http://steamcommunity.com/sharedfiles/filedetails/?id=851312465', target='_blank') Unit Modpack
              strong Status: 
              case private.status
                when 0
                  span.badge.badge-pill.badge-success UP
                when 2
                  span.badge.badge-pill.badge-danger DOWN
              if private.name
                br
                strong Map: 
                | #{private.map}
                br
                strong Players: 
                | #{private.players.length}/#{private.maxplayers}
      .col-4
        #teamspeakServer.collapse
          .card.card-body
            h4 Voice Server
            span
              | Address: 
              strong ts3.no4commando.com
              br
              | Port: 9987
              if ts3.status == 0
                br
                | Connections: #{ts3.players.length} out of #{ts3.maxplayers}
              br
              br
              p.text-justify On your first visit you won't be able to navigates freely. You will however have access to the recruitment waiting room where you can wait for a recruiter.
              .text-center.mt-3
                a(href='ts3server://195.140.215.20/?port=9987&nickname=Web Visitor')
                  button.mx-auto.btn.btn-outline-danger
                    strong Connect now!
                br
                small
                  strong(style='font-size: 0.7rem') REQUIRES TS3 INSTALLED
