#structure.bg-dark.text-white.py-1.pl-3.pl-lg-5
  h1.header Unit Structure
#structure-text.about-text.mb-5.pt-3.pb-0.px-3.px-lg-5
  .container-fluid.px-0
    p The real No.4 Commando was a battalion sized unit which consisted of approximately 500 highly trained soldiers. 
      br
      | Our unit is mainly based on the 
      strong 1st Troop 
      | of said battalion.

      h3 The unit elements:
      .row
        .col-8
          .media.mt-4
            img.d-flex.mr-3.img.align-self-top(src="img/NATO/HQ.svg", alt="alt" height='100')
            .media-body.text-justify
              h5.d-inline-block.mr-2 Troop HQ
              span.text-uppercase
                small &#8212; #{space}
                  strong #{members[0][1]} #{members[0][2]} & #{members[1][1]} #{members[1][2]}
              br
              p It's the most important element of the unit, composed by the Commanding Officers of the 
                | commandos and their closest helpers, their duty is to 
                strong coordinate 
                | the whole unit towards 
                | the objective and to look after their members. They usually stay in cover behind other 
                | elements or fill the gap where it's most needed, while trying to preserve the 
                strong overall view of the action
                | .  
        .col-4
          small 
            strong AUXILIARY MEMBERS:
          table.table.table-striped.table-sm
            tbody
              each member, index in members
                if (index > 1 && index < 7)
                  tr
                    td #{member[0]}
                    if (member[1] == '')
                      td.text-right &#8212;
                    else 
                      td.text-right 
                        strong #{member[1]}
                    case member[2]
                      when 'OPEN'
                        td
                          .badge.badge-pill.badge-success OPEN
                      when 'CLOSED'
                        td
                          .badge.badge-pill.badge-danger CLOSED
                      default
                        td #{member[2]}
      hr.bg-dark
      .row
        .col-8
          .media.mt-4
            img.d-flex.mr-3.img.align-self-top(src="img/NATO/SECTION.svg", alt="alt" height='100')
            .media-body.text-justify
              h5.d-inline-block.mr-2 Able Section
              span.text-uppercase
                small &#8212; #{space}
                  strong #{members[8][1]} #{members[8][2]}
              br
              p Able Section is the main element of the unit where most of the members are found. It is composed by two subsections, called 
                b ONE 
                | and 
                b TWO
                | . Each subsection follows the orders of the section leader, who receives orders from HQ and carries them out by coming up with his own strategic initiative. The section leader is also responsible for the training and well-being of the section.
        .col-4.mt-4
          small
            strong MEMBERS:
          table.table.table-striped.table-sm
            tbody
              each member, index in members
                if ((index > 7 && index < 10) || (index == 13))
                  tr
                    td #{member[0]}
                    if (member[1] == '')
                      td.text-right &#8212;
                    else 
                      td.text-right 
                        strong #{member[1]}
                    case member[2]
                      when 'OPEN'
                        td
                          .badge.badge-pill.badge-success OPEN
                      when 'CLOSED'
                        td
                          .badge.badge-pill.badge-danger CLOSED
                      default
                        td #{member[2]}
      hr.bg-dark
      .row
        .col-12
          .media.mt-4
            img.d-flex.mr-3.img.align-self-top(src="img/NATO/SUB.svg", alt="alt" height='100')
            .media-body.text-justify
              h5.d-inline-block.mr-2 Subsections One, Two & Three
              span.text-uppercase
                small &#8212; #{space}
                  strong #{members[10][1]} #{members[10][2]}, #{members[11][1]} #{members[11][2]} & #{members[12][1]} #{members[12][2]}
              br
              p Each subsection is composed by 8 men divided into two teams:
              ul(style='list-style: none')
                li
                  img(src="img/NATO/TEAM.svg", alt="alt" height='25')
                  b Assault Team 
                  | &#8212; armed with SMGs and counting four men;
                li 
                  img(src="img/NATO/TEAM.svg", alt="alt" height='25') 
                  b Bren Team 
                  | &#8212; armed with the Bren gun and counting three men;
                li 
                  img(src="img/NATO/TEAM.svg", alt="alt" height='25') 
                  b PIAT Team 
                  | &#8212; armed with the PIAT and counting two men;
              p Normally the subsections 
                strong moves together 
                | unless the situation requires the two teams to split up momentarily and bound towards the objective. 
                | The subsections are the two 
                strong tactical elements 
                | that the section leader coordinates to carry out his vision.
      a.arrow.mt-2(data-toggle="collapse" href="#subsCollapse" aria-expanded='false' aria-controls='subsCollapse' onclick='toggleButton(this)')
        small.arrow-hint CLICK ME
        img.img.d-flex.mx-auto.arrowDown(src='img/icons/arrow.svg' width='25')
      #subsCollapse.collapse
        .row
          .col-4.mt-4
            .text-center
              strong SUBSECTION ONE:
            table.table.table-striped.table-sm
              tbody
                each member, index in members
                  if (index > 14 && index < 25)
                    tr
                      td #{member[0]}
                      if (member[1] == '')
                        td.text-right &#8212;
                      else 
                        td.text-right 
                          strong #{member[1]}
                      case member[2]
                        when 'OPEN'
                          td
                            .badge.badge-pill.badge-success OPEN
                        when 'CLOSED'
                          td
                            .badge.badge-pill.badge-danger CLOSED
                        default
                          td #{member[2]}
          .col-4.mt-4
            .text-center
              strong SUBSECTION TWO:
            table.table.table-striped.table-sm
              tbody
                each member, index in members
                  if (index > 25 && index < 36)
                    tr
                      td #{member[0]}
                      if (member[1] == '')
                        td.text-right &#8212;
                      else 
                        td.text-right 
                          strong #{member[1]}
                      case member[2]
                        when 'OPEN'
                          td
                            .badge.badge-pill.badge-success OPEN
                        when 'CLOSED'
                          td
                            .badge.badge-pill.badge-danger CLOSED
                        default
                          td #{member[2]}
          .col-4.mt-4
            .text-center
              strong SUBSECTION THREE:
            table.table.table-striped.table-sm
              tbody
                each member, index in members
                  if (index > 36 && index < 47)
                    tr
                      td #{member[0]}
                      if (member[1] == '')
                        td.text-right &#8212;
                      else 
                        td.text-right 
                          strong #{member[1]}
                      case member[2]
                        when 'OPEN'
                          td
                            .badge.badge-pill.badge-success OPEN
                        when 'CLOSED'
                          td
                            .badge.badge-pill.badge-danger CLOSED
                        default
                          td #{member[2]}
      hr.bg-dark
      .row
        .col-8
          .media.mt-4
            img.d-flex.mr-3.img.align-self-top(src="img/NATO/MEDICAL.svg", alt="alt" height='100')
            .media-body.text-justify
              h5.d-inline-block.mr-2 Medical Section
              span.text-uppercase
                small &#8212; #{space}
                  strong #{members[48][1]} #{members[48][2]}
              br
              p Medical section is the department of the unit specialised in providing first-aid to the injured during operations. They are the first help that any wounded soldier will receive, their main goal is to make sure that any soldier survives his wounds. They are commonly attached to a subsection and positioned in the safest possible area within the formation. 
                strong Survival is the key to victory.
        .col-4.mt-4
          small 
            strong MEMBERS:
          table.table.table-striped.table-sm
            tbody
              each member, index in members
                if (index > 47 && index < 51)
                  tr
                    td #{member[0]}
                    if (member[1] == '')
                      td.text-right &#8212;
                    else 
                      td.text-right 
                        strong #{member[1]}
                    case member[2]
                      when 'OPEN'
                        td
                          .badge.badge-pill.badge-success OPEN
                      when 'CLOSED'
                        td
                          .badge.badge-pill.badge-danger CLOSED
                      default
                        td #{member[2]}
      hr.bg-dark
      .row
        .col-8
          .media.mt-4
            img.d-flex.mr-3.img.align-self-top(src="img/NATO/RECON.svg", alt="alt" height='100')
            .media-body.text-justify
              h5.d-inline-block.mr-2 Scout Section
              span.text-uppercase
                small &#8212; #{space}
                  strong #{members[57][1]} #{members[57][2]}
              br
              p Scout is the forward recon element of the unit, they are responsible for navigating and being on point of most unit level formations. They also can be tasked with observing specific areas and can on occassion be tasked with objectives suited to their skillset.
        .col-4.mt-4
          small 
            strong MEMBERS:
          table.table.table-striped.table-sm
            tbody
              each member, index in members
                if (index > 56 && index < 61)
                  tr
                    td #{member[0]}
                    if (member[1] == '')
                      td.text-right &#8212;
                    else 
                      td.text-right 
                        strong #{member[1]}
                    case member[2]
                      when 'OPEN'
                        td
                          .badge.badge-pill.badge-success OPEN
                      when 'CLOSED'
                        td
                          .badge.badge-pill.badge-danger CLOSED
                      default
                        td #{member[2]}
      hr.bg-dark
      .row
        .col-8
          .media.mt-4
            img.d-flex.mr-3.img.align-self-top(src="img/NATO/FLIGHT.svg", alt="alt" height='100')
            .media-body.text-justify
              h5.d-inline-block.mr-2 Flight Section
              span.text-uppercase
                small &#8212; #{space}
                  strong #{members[52][1]} #{members[52][2]}
              br
              p Flight Section is a 
                strong Royal Air Force 
                | detachment assigned specifically to the No.4 Commando unit. It consists of three pilots who have at their disposal different kind of aircrafts, such as the popular Spitfires, the P-38 Lightnings, C-47s and other smaller planes.
                | Their tasks can differ a lot from mission to mission, sometimes they will assigned CAS missions, whereas some other times they will be tasked with recon, CAP or transport of paratroopers. 
        .col-4.mt-4
          small 
            strong MEMBERS:
          table.table.table-striped.table-sm
            tbody
              each member, index in members
                if (index > 51 && index < 56)
                  tr
                    td #{member[0]}
                    if (member[1] == '')
                      td.text-right &#8212;
                    else 
                      td.text-right 
                        strong #{member[1]}
                    case member[2]
                      when 'OPEN'
                        td
                          .badge.badge-pill.badge-success OPEN
                      when 'CLOSED'
                        td
                          .badge.badge-pill.badge-danger CLOSED
                      default
                        td #{member[2]}
#structure-img.img.img-fluid.my-0.trans-img
                      
