#structure.bg-inverse.text-white.py-1.pl-3.pl-lg-5.mt-5
  h1.header Structure
#structure-img.img.img-fluid.my-0.trans-img
#structure-text.about-text.mb-5.pt-3.pb-0.px-3.px-lg-5
  .container-fluid.px-0
    h3 The unit composition:
    .row
      .col-8
        .media.mt-4
          img.d-flex.mr-3.img.align-self-top(src="img/NATO/HQ.svg", alt="alt" height='100')
          .media-body.text-justify
            h5.d-inline-block.mr-2 Troop HQ
            span
              small &#8212; #{space}
                strong CPT. C. FOOTE & SMAJ. A. HYDE
            br
            p It's the most important element of the unit, composed by the Commanding Officers of the commandos and their closest helpers, their duty is to coordinate the whole unit towards the objective and to look after their members. They usually stay in cover behind other elements or fill the gap where it's most needed, while trying to preserve the overall view of the action.  
      .col-4
        small 
          strong AUXILIARY MEMBERS:
        table.table.table-striped.table-sm
          tbody
            tr
              td Signaller
              td.text-right 
                strong Cpl
              td N. Patrick
            tr
              td Runner #1
              td.text-right &#8212;&#8212;
              td
                .badge.badge-pill.badge-success OPEN
            tr
              td Runner #2
              td.text-right &#8212;&#8212;
              td
                .badge.badge-pill.badge-danger CLOSED
            tr
              td Bren Gunner
              td.text-right &#8212;&#8212;
              td
                .badge.badge-pill.badge-success OPEN
            tr
              td Bren Assistant
              td.text-right &#8212;&#8212;
              td
                .badge.badge-pill.badge-success OPEN
    hr.bg-inverse
    .row
      .col-8
        .media.mt-4
          img.d-flex.mr-3.img.align-self-top(src="img/NATO/SECTION.svg", alt="alt" height='100')
          .media-body.text-justify
            h5.d-inline-block.mr-2 Able Section
            span
              small &#8212; #{space}
                strong SGT. N. FARAGE
            br
            p Able Section is the main element of the unit where most of the members are found. It is composed by two subsections, called 
              b ONE 
              | and 
              b TWO
              | . Each subsection follows the orders of the section leader, who receives orders from HQ and carries them out by coming up with his own strategic initiative. The section leader is also responsible for the training and well-being of the section.
      .col-4.mt-4
        small
          strong AUXILIARY MEMBERS:
        table.table.table-striped.table-sm
          tbody
            tr
              td Leader 
                b ONE
              td.text-right 
                strong Cpl
              td L. Walker
            tr
              td Leader 
                b TWO
              td.text-right 
                strong Cpl
              td J.T Dane
            tr
              td Runner
              td.text-right 
                strong LCpl
              td D. Hessel
    hr.bg-inverse
    .row
      .col-12
        .media.mt-4
          img.d-flex.mr-3.img.align-self-top(src="img/NATO/SUB.svg", alt="alt" height='100')
          .media-body.text-justify
            h5.d-inline-block.mr-2 Subsections One & Two
            span
              small &#8212; #{space}
                strong CPL. L. WALKER & CPL. J.T DANE
            br
            p Each subsection is composed by 8 men divided into two teams:
            ul(style='list-style: none')
              li
                img(src="img/NATO/TEAM.svg", alt="alt" height='25')
                b Assault Team 
                | &#8212; armed with SMGs and counting four men;
              li 
                img(src="img/NATO/TEAM.svg", alt="alt" height='25') 
                b Bren Team 
                | &#8212; armed with the Bren gun and counting three men;
            p Normally the subsections moves together unless the situation requires the two teams to split up momentarily and bound towards the objective. The subsections are the two tactical elements that the section leader coordinates to carry out his strategy.
    .row
      .col-6.mt-4
        .text-center
          strong SUBSECTION ONE:
        table.table.table-striped.table-sm
          tbody
            tr
              td Subsection Leader 
              td.text-right 
                strong Cpl
              td L. Walker
            tr
              td Bren Team Leader 
              td.text-right 
                strong LCpl
              td J. Thunder
            tr
              td Bren Gunner
              td.text-right 
                strong LCpl
              td S. Talion
            tr
              td Bren Assistant 
              td.text-right &#8212;&#8212;
              td
                .badge.badge-pill.badge-success OPEN
            tr
              td Assault Team Leader 
              td.text-right 
                strong Cpl
              td L. Walker
            tr
              td Rifleman
              td.text-right 
                strong LCpl
              td T. Miezis
            tr
              td Rifleman
              td.text-right 
                strong LCpl
              td V. Hjelm
            tr
              td Submachine Gunner
              td.text-right 
                strong LCpl
              td G. Bacon
      .col-6.mt-4
        .text-center
          strong SUBSECTION TWO:
        table.table.table-striped.table-sm
          tbody
            tr
              td Subsection Leader 
              td.text-right 
                strong Cpl
              td J.T Dane
            tr
              td Bren Team Leader 
              td.text-right 
                strong LCpl
              td O. Lawrence
            tr
              td Bren Gunner
              td.text-right
                strong LCpl
              td B. Berni
            tr
              td Bren Assistant 
              td.text-right 
                strong Cpl
              td B. Conway
            tr
              td Assault Team Leader 
              td.text-right 
                strong LCpl
              td C. Kavanagh
            tr
              td Rifleman
              td.text-right 
                strong Pte2
              td J. Scotsman
            tr
              td Rifleman
              td.text-right 
                strong LCpl
              td J. Henderson
            tr
              td Submachine Gunner
              td.text-right 
                strong LCpl
              td M. Margotic
  hr.bg-inverse
  .row
    .col-12
      .media.mt-4
        img.d-flex.mr-3.img.align-self-top(src="img/NATO/SECTION.svg", alt="alt" height='100')
        .media-body.text-justify
          h5.d-inline-block.mr-2 Weapon Section
          span
            small &#8212; #{space}
              strong SGT. A. ANDERS & CPL. R. MICHEAL
          br
          p.col-9 Weapon section is an element at disposal of Troop HQ, which decides when and how to deploy the special weapon teams according to the needs of the infantry sections. Depending on the situation, sometimes the weapons team are attached to the infantry subsections, whereas othertimes they remain independent to achieve specific tasks. The section itself is composed of specific teams:
          ul(style='list-style: none')
            li
              img(src="img/NATO/TEAM.svg", alt="alt" height='25')
              b Vickers Team 
              | &#8212; armed with a powerful HMG and counting four men;
            li 
              img(src="img/NATO/TEAM.svg", alt="alt" height='25') 
              b Anti-Tank Team 
              | &#8212; armed with the spring-loaded two PIAT launchers and counting four men;
            li 
              img(src="img/NATO/TEAM.svg", alt="alt" height='25') 
              b Marksman Team 
              | &#8212; issued with a 3x sight mounted on the standard SMLE Mk. I, only two men;
            li 
              img(src="img/NATO/TEAM.svg", alt="alt" height='25') 
              b Sappers Team 
              | &#8212; carrying the explosives for demolition, counting two men;
  .row
    .col-4.mt-4
      .text-center
        strong VICKERS TEAM:
      table.table.table-striped.table-sm
        tbody
          tr
            td Team Leader 
            td.text-right 
              strong Cpl
            td T. Test
          tr
            td Machine Gunner 
            td.text-right &#8212;&#8212;
            td
              .badge.badge-pill.badge-success OPEN
          tr
            td Assistant Gunner
            td.text-right 
              strong LCpl
            td A. Riggs
          tr
            td Rifleman 
            td.text-right &#8212;&#8212;
            td
              .badge.badge-pill.badge-success OPEN
    .col-4.mt-4
      .text-center
        strong ANTI-TANK TEAM:
      table.table.table-striped.table-sm
        tbody
          tr
            td AT Rifleman 
            td.text-right 
              strong Cpl
            td G. Panj
          tr
            td Assistant AT 
            td.text-right 
              strong LCpl
            td T. Judd
          tr
            td AT Rifleman 
            td.text-right 
              strong LCpl
            td R. Hinton
          tr
            td Assistant AT 
            td.text-right 
              strong LCpl
            td C. Webb
    .col-4.mt-4
      .text-center
        strong MARKSMAN & SAPPERS TEAM:
      table.table.table-striped.table-sm
        tbody
          tr
            td Marksman 
            td.text-right 
              strong LCpl
            td J. Jajuny
          tr
            td Spotter 
            td.text-right &#8212;&#8212;
            td
              .badge.badge-pill.badge-danger CLOSED
          tr
            td Sapper
            td.text-right 
              strong LCpl
            td K. Irons
          tr
            td Sapper
            td.text-right 
              strong LCpl
            td R. Nimbus
  hr.bg-inverse
  .row
    .col-8
      .media.mt-4
        img.d-flex.mr-3.img.align-self-center(src="img/NATO/MEDICAL.svg", alt="alt" height='100')
        .media-body.text-justify
          h5.d-inline-block.mr-2 Medical Section
          span
            small &#8212; #{space}
              strong CPL. D. WALLBANGER
          br
          p Medical section is the department of the unit specialised in providing first-aid to the injured during operations. They are the first help that any wounded soldier will receive, they make sure to make up for any error commited by the troop. They are commonly attached to a subsection and positioned in the most safe possible area within the formation. 
            strong Survival is the key to victory.
    .col-4.mt-4
      small 
        strong MEMBERS:
      table.table.table-striped.table-sm
        tbody
          tr
            td Medical Officer
            td.text-right 
              strong Cpl
            td D. Wallbanger
          tr
            td Medic
            td.text-right
              strong LCpl
            td R. Gordon
          tr
            td Medic
            td.text-right
              strong Pte2
              td H. Parrot
